<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Moi, candidat.">

    <title>Moi, candidat</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/main-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/main-grid.css">
    <!--<![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/marketing.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Moi, candidat</a>
        <!--
        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
        </ul>
        -->
    </div>
</div>

<div class="splash-container">
    <div class="splash" style="height: 650px;width: 50%">
        <h1 class="splash-head">Moi, candidat</h1>
        
        <p class="splash-subhead">
            Marseille - Municipales 2014
            <br/>
            Découvrez le candidat qui vous représente le plus !
        </p>
        <p>
            <a href="/choisir/" class="pure-button pure-button-primary" style="margin: 10px;">Trouver mon candidat</a>
            <a href="/programmes/" class="pure-button pure-button-primary" style="margin: 10px;">Les Programmes</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Les outils pour vous aider à choisir votre candidat</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Trouver mon candidat
                </h3>
                <p>
                   Un quizz pour vous aider à choisir votre candidat 
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Les programmes
                </h3>
                <p>
                    Découvrez quel est votre programme idéal
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                   Le comparateur
                </h3>
                <p>
                   Comparez, thématique par thématique, les programmes de tous les candidats aux municipales de Nantes
                </p>
            </div><!--
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Les données
                </h3>
                <p>
                    Téléchargez toutes les données des programmes (avec sources) en format csv (à venir)
                </p>
            </div>
-->
        </div>


    </div>
    <div class="ribbon l-box-lrg pure-g" id="help">
    
        <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="/static/img/atelierelections.png">
        </div>
        <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5" >
            <h2 class="content-head content-head-ribbon" id="info">Comment ca marche</h2>
            <p>
              moi-candidat vous permet de choisir le candidat qui vous représente le mieux en choisisant "en aveugle" parmi les propositions de tous les candidats. En fin de quiz, moi-candidat vous indique quelles propositions de quels candidats vous avez choisies. 
            </p>
               <p>
              Au plus deux propositions de chaque candidat sont présentées par thématique pour limiter le nombre des choix.</p>
            <p>
              Les propositions du site sont entièrement issues des programmes officiels des candidats et n'ont pas été modifiées par nous. Cependant toutes les propositions des candidats n'ont pas été systématiquement reprises pour ne retenir que celles qui nous apparaissaient les plus amblématiques ou significatives.
            </p>
            <h2 class="content-head content-head-ribbon" id="about">À propos</h2>

            <p>
                Projet adapté pour les municipales de Marseille à partir de <a style="color: #fff; text-decoration: none;" href="nates.moi-candidat.fr">nantes.moi-candidat.fr</a> réalisé dans le cadre de l'initiative citoyenne <a style="color: #fff; text-decoration: none;" href="http://www.atelierdeselections.fr/">"Atelier des élections"</a> <br/>
                L'équipe :
            <ul>
              <li>Patrice Delorme <a style="color: #fff; text-decoration: none;" href="https://twitter.com/pdelorme">@pdelorme</a></li>
              <li>Olivier Assuncao <a style="color: #fff; text-decoration: none;" href="https://twitter.com/olivierass">@OlivierAss</a></li>
              <li>Jean-Paul Carmona<a style="color: #fff; text-decoration: none;" href="https://twitter.com/jpcarmona">@jpcarmona</a></li>
            </ul>
Vous pouvez nous contacter à <a style="color: #fff; text-decoration: none;" href="mailto:marseille.moicandidat@gmail.com">marseille.moicandidat@gmail.com</a>
            </p>
            <p>
              Le code source est disponible sur <a style="color: #fff; text-decoration: none;" href="https://github.com/pdelorme/moi-candidat">github.com/pdelorme/moi-candidat</a>
            </p>  
        </div>
    </div>
    <div class="footer l-box is-center">
        Contacter l'équipe "Atelier des élections" : atelierdeselections@gmail.com
        Contacter l'équipe Marseille : patrice.delorme@gmail.com
    </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1018663-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
